
.fondo{
    -fx-background-color: linear-gradient(#d4cece, #f3e9e9);
}

.fondoOutput{
    -fx-background-color: linear-gradient(#cf3030 5%, #fababa);
}

.imageFondo{
    -fx-background-image: url("../images/galaxia.jpg");
        -fx-background-size: 900, 500;
        -fx-background-repeat: no-repeat;
        -fx-border-color: #2e8b57;
        -fx-border-width: 2px;
        -fx-padding: 10;
        -fx-spacing: 8;
}
.registro{
    -fx-background-color: linear-gradient(#bdb9b9 30%, #dbd6d7 95%);
}

.texto_normal{
    -fx-font-family: "Lato Black";
    -fx-font-size: 16px;
}

.texto_especial{
    -fx-font-family: "Lato Black";
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , #041c8a , 1,2,1,1 );
}

.title{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#3e5ca9 60%, #8facf7);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-background-color: linear-gradient(#8facf7,#3e5ca9 60%);
    -fx-cursor: hand;
}

.grid {
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-vgrow-policy:always;
    -fx-hgap: 20;
    -fx-vgap: 20;
}

.itemDirection{
    -fx-background-color:#bef7f5;
     -fx-background-radius: 5.0;
     -fx-background-insets: 0.5 5.0 0.5 5.0;
     -fx-padding: 10;
     -fx-hgap: 8;
     -fx-vgap: 8;
}

.itemDirectionSelected{
-fx-background-color:#1570ed;
     -fx-background-radius: 5.0;
     -fx-background-insets: 0.5 5.0 0.5 5.0;
     -fx-padding: 10;
     -fx-hgap: 8;
     -fx-vgap: 8;

}

.labelDirection{
    -fx-font-size: 14px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
.itemContent{
    -fx-background-color:#e3fcfc;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.5 5.0 0.5 5.0;
    -fx-padding: 10;
    -fx-hgap: 8;
    -fx-vgap: 8;
}
.labelContent{
    -fx-text-fill:black;
}

.cycleCounter{
    -fx-background-color: linear-gradient(#6cede9,#bef7f5);
    -fx-background-radius: 5.0;
    -fx-padding: 5 5 5 5;
    -fx-text-fill:blue;
}